<%- include('includes/head.ejs',{ title:"WebTop"}); %>

  <h1>Error <span class="errorcode">404</span></h1>
  <p class="output">The page you are looking for might have been removed, had its name changed or is temporarily unavailable.</p>
  <p class="output">Please try to <a href="/desktop">go back</a> or <a href="/">return to the homepage</a>.</p>
  <p class="output">Good luck.</p>
  
<%- include("includes/footer") %>