<%- include('includes/head.ejs',{ title:"WebTop"}); %>
  <h1>Error <span class="errorcode">500</span></h1>
  <p class="output">An internal server error has occurred.</p>
  <p class="output"><%= error.message %></p>
  <p class="output">Please try to <a href="/desktop">go back</a> or <a href="/">return to the homepage</a>.</p>
  <p class="output">Good luck.</p>

<%- include("includes/footer") %>
