:root {
  --main-accent-color: #ffffff;
  --background-accent-color: rgb(58 65 116 / 25%);
  --box-shadow-color: rgba(31, 38, 135, 0.37);
  --border-color: rgba(255, 255, 255, 0.18);
}
body {

  background-image: url("../svg/background.svg");
  background-repeat: cover;
  color: var(--main-accent-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  z-index: 1000;
}

.glass {
  background: var(--background-accent-color);
  box-shadow: 0 8px 32px 0 var(--box-shadow-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid var(--border-color);
}

rounded {
  border-radius: 10px;
}

.container-main {
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.container-div{
    height: 100%;
    
    overflow-y: scroll;
    overflow-x: hidden;
    
}
footer{
    padding: 5px;
    position: absolute;
    bottom: 0;
}

a{
    color: var(--main-accent-color);
    text-decoration: none;

}
.container-div::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

